# OS Filesystem generated
.DS_Store
# Editor settings
.vscode
# NPM packages
node_modules
# Configurations
config.js
config.json
# Package lock
package-lock.json
# to-do List
TODO.md
# auto generated data
data